{% extends 'base.html' %}

{% block center %}
<h2> Formulário de Produto</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do produto</label>
        {{ form.nome_produto }}
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Descrição</label>
        {{ form.descricao }}
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Preço</label>
        {{ form.preco }}
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Imagem</label>
        {{ form.imagem }}
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Marca</label>
        {{ form.marca }}
    </div>


    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}