body {
  font-size: .875rem;

}

.nav-bar {
  background-color: #E5989B;
  color: black;
  line-height: 4em;
}


.navbar-brand {
  color: white;
  font-size: 30px !important;
  font-family: 'Righteous', cursive !important;
}

.navbar-brand:hover {
  color: white !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 3.5rem;
  overflow-x: hidden;
  background-color: #E5989B;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #FFFFFF;
  font-size: 18px;

}

html,
.container-fluid {
  background-color: #FFCDB2;
}

tr,
table,
thead {
  background-color: white;
  box-shadow: 15px 15px 8px 8px #6D687566;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  width: 50%;
}

#indextitle{
  text-align: center;
  margin-top: 20px;
  font-size: 45px;
}

#formtitle {
  text-align: center;
}

input {
  width: 75% !important;
}

input[type=number] {
  -moz-appearance: textfield;
  padding: 6px 12px;
  border: 1px solid #ced4da;
}

label {
  display: block;
  font-weight: 600;
}

svg {
  margin-bottom: 4px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

/* .sidebar .nav-link.active {
    color: #007bff;
  } */

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 18px;
  text-transform: uppercase;
}

.text-muted {
  font-size: 15px;
}

/*
   * Navbar
   */
.card {
  box-shadow: 20px 15px #6D687566;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #6D6875;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
   * Utilities
   */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}