{% extends 'base.html' %}

{% block center %}
<h2> Lista de Marcas</h2>

<a href="{% url 'produto_criar' %}" class="btn btn-success mb-3">Novo produto</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Marca</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome_produto }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.marca }}</td>
            <td>
                <a href="{% url 'produto_editar' id=produto.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'produto_remover' id=produto.id %}" class="btn btn-danger btn-sm">Remover</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}